
<h2>Adding</h2>
  <form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" autocomplete="off">
    <input type="hidden" name="paymentDetailId" [value]="service.t().id">
    <div class="mb-3">
      <label>Name</label>
      <input class="form-control form-control-lg" placeholder="Name on Card" #name="ngModel" name="name"
        [(ngModel)]="service.t().traineeName" required>
    </div>
    <div class="mb-3">
      <label>Age</label>
      <input class="form-control form-control-lg" #age="ngModel"
        name="age" type="number" [(ngModel)]="service.t().age" required>
    </div>
  
    <div class="row">
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="isWorking" name="isWorking" [(ngModel)]="service.t().isWorking">
        <label class="form-check-label" for="isWorking"> &nbsp; Is Working</label>
      </div>
    </div>
    <div class="d-grid">
      <button class="btn btn-lg btn-success" type="submit">
        Submit
      </button>
    </div>

  </form>